<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.infection.dao.InfectionReportTrackingDao">
	<insert id="insert" parameterType="cn.infection.entity.InfectionReportTracking">
		insert into infection.infection_report_tracking
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="cardid != null">
				cardid,
			</if>
			<if test="trackingtime != null">
				trackingtime,
			</if>
			<if test="trackingpeoplename != null">
				trackingpeoplename,
			</if>
			<if test="trackingtext != null">
				trackingtext,
			</if>
			<if test="trackingimg != null">
				trackingimg
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="cardid != null">
				#{cardid},
			</if>
			<if test="trackingtime != null">
				#{trackingtime},
			</if>
			<if test="trackingpeoplename != null">
				#{trackingpeoplename},
			</if>
			<if test="trackingtext != null">
				#{trackingtext},
			</if>
			<if test="trackingimg != null">
				#{trackingimg}
			</if>
		</trim>
	</insert>
	
	<select id="getInfectionReportTrackings" parameterType="java.lang.Integer" resultType="cn.infection.entity.InfectionReportTracking">
		SELECT irt.id,irt.cardId,irt.trackingtext,irt.trackingimg,irt.trackingpeoplename,
		date_format(irt.trackingtime,'%Y-%c-%d %h:%i:%s') as trackingtime
		FROM infection.infection_report_tracking irt
		WHERE irt.cardId=#{cardId}
	</select>
	
	
</mapper>